<!DOCTYPE html>
<html
        xmlns:th="https://www.thymeleaf.org"
        th:replace="~{layout :: html(title ='所有分类 - '+${site.title},content = ~{::archives},head = null,content = ~{::categories-content},pager = null)}"
>
<th:block th:fragment="categories-content">
    <div id='c_cloud' class="tags">
        <th:block th:if="${#lists.size(categories)>0}">
            <th:block th:each="cate:${categories}">
                <a th:href="${cate.status.permalink}" class="tag-triangle" th:title="${cate.spec.displayName}"><i
                        class="tag-i" th:text="${cate.spec.displayName}+' ['+${cate.status.postCount}+']'"></i></a>
            </th:block>
        </th:block>
        <th:block th:if="${#lists.size(categories)==0}">
            <a href="/" class="tag-triangle" title="当前无分类"><i class="tag-i" text="当前无分类"></i></a>
        </th:block>
    </div>
</th:block>
</html>
<!DOCTYPE html>


