<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="~{layout :: html(title ='友链展示 - '+${site.title},head = null,content = ~{::links},pager = null)}"
>
<div class="post-content no-indent" th:fragment="links">

    <h3 id="友链"><a href="#友情链接" class="headerlink" title="友情链接"></a>友情链接</h3>
    <th:block th:each="group : ${groups}">
        <h6 th:text="${group.spec.displayName}"></h6>
        <th:block th:each="link : ${group.links}" :key="i" th:href="${link.spec.url}" target="_blank">
        <ul>
            <li><span th:text="${link.spec.displayName}+': '"></span><a target="_blank" rel="noopener" th:href="${link.spec.url}" th:text="${link.spec.url}"></a></li>
        </ul>
        </th:block>
    </th:block>
    <div id="comment-container"></div>
    <div id="disqus_thread"></div>
    <div class="giscus"></div>
    <div id="lv-container"></div>
</div>
</html>



