<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="~{layout :: html(title =${singlePage.spec.title}+' - '+${site.title},head = null,content = ~{::page},pager = null)}"
>
<div class="post-container" th:fragment="page">
  <div class="post-title" th:text="${singlePage.spec.title}"></div>

  <div class="post-meta">
    <span class="attr">发布于：<span th:text="${#dates.format(singlePage.spec.publishTime, 'yyyy-MM-dd')}"></span></span>


    <span class="attr">访问：<span id="busuanzi_value_page_pv" th:text="${singlePage.stats.visit}"></span>
</span>

  </div>
  <!--样式待做  -->
  <div class="post-content no-indent">
    <div th:utext="${singlePage.content.content}"></div>
    <!--捐赠待做-->
    <br />
    <div id="comment-container">
      <!-- default comment halo comment s     -->
      <th:block th:if="${haloCommentEnabled}">
        <th:block th:if="${singlePage.spec.allowComment}">
          <halo:comment
                  group="content.halo.run"
                  kind="SinglePage"
                  th:attr="name=${singlePage.metadata.name}"
                  colorScheme="'light'"
          />
        </th:block>
      </th:block>
    </div>
    <div id="disqus_thread"></div>
    <div id="lv-container"></div>
    <div class="giscus"></div>
  </div>


</div>

</html>
